<!doctype html>
<html>

<head>
    <meta charset="utf8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand navbar-dark bg-dark mb-4">
            <ul class="nav mr-auto">
                <li class="nav-item"></li>
                <a class="navbar-brand" href="/">Fincas la Casita</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle mr-3" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="true">
                            Tipos
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <a class="dropdown-item" href="/inmuebles">Todos</a>
                            <div class="dropdown-divider"></div>
                            <% tipos.forEach(tipo => { %>
                                <a class="dropdown-item" href="/inmuebles/tipo/<%= tipo._id %>">
                                    <%= tipo.tipo %>
                                </a>
                                <% }) %>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/nuevo_inmueble">
                        <button class="btn btn-success mr-3">Nuevo Inmueble</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/login">
                        <button class="btn btn-warning mr-3">Login</button>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <div class="container-fluid">