<%- include('cabecera'); %>
<div class="jumbotron text-center">
    <h1>Fincas la Casita</h1>
</div>
<div class="text-center">
    <img src="/uploads/piso.jpg" alt="">
</div>
    <legend class="text-center">Bienvenido a la web en donde encontrarás tu hogar</legend>
<%- include('pie'); %>