<%- include('cabecera'); %>
<div>
    

    <h1 class="text-center mt-4 mb-4 bg-primary">Login</h1>

    <div class="form-group">
        <label for="login">Usuario:</label>
        <input type="text" class="form-control" id="login" name="login" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" />
    </div>
    <button class="btn btn-primary" onclick="submitLogin()">Enviar</button>
</div>
<a href="/registro">
    <button class="btn btn-secondary">Crear Usuario</button>
</a>

<%- include('pie'); %>