<%- include('cabecera'); %>
    <form action="/usuarios/registro" enctype="multipart/form-data" method="POST">
    <h1 class="text-center mt-4 mb-4 bg-primary">Registro</h1>

    <div class="form-group">
        <label for="login">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" />
    </div>
    <div class="form-group">
        <label for="login">Usuario:</label>
        <input type="text" class="form-control" id="login" name="login" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" />
    </div>
    <button class="btn btn-primary" type="submit">Crear Cuenta</button>
    </form>
    <%- include('pie'); %>